html, body{
  margin: 0;
  height: 100%;
  width:  100%;
  overflow: hidden
}


html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: #978B7C;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

@media only screen and (max-width: 400px) {
  h1{
    font-size: 7vw  !important;
  }
}


h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 3vw;
}

h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.5vw;
  line-height: 0.8;
}

@media only screen and (max-width: 900px) {
  p{
    font-size: 1.5vw;
    width: auto;
    min-width: 200px;
    line-height: 1.5;
  }
}
p{
  font-size: 1.1vw;
  width: auto;
  min-width: 200px;
  line-height: 1.5;
}




.centerImg{
  width: 100%;
  height: 300px;
}

h4{
  padding-top: 30%;
}

.landingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 800px;
  width: 100%;
}


/* MODAL ANIMATIONS */


.ReactModal__Overlay {
  opacity: 0;
  /* transform: translateX(-100px); */
  transition: all 750ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  /* transform: translateX(0px); */
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  /* transform: translateX(-100px); */
}

/* VIDEO */

/* .player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
/* }

.react-player {
  position: absolute;
  top: 0;
  left: 0;
} */ 


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container > * {
  flex: 2 50%;
}

.item {
  width: 100%;  
  height: 100%; 
  margin: auto;  
}

.videoDiv{
  margin: auto;
}

@media only screen and (max-width: 400px) {
  .logoItem{
    height: 25%;
  }
}
